.about {
  background-color: #d74680;
  color: white;
  blockquote {
    font-size: 21px;
    font-style: italic;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  &__item {
    max-width: 540px;
    margin-bottom: 50px;
    text-align: left;
    blockquote {
      margin: 0;
      max-width: 380px;
    }
    img {
      float: left;
    }
    cite {
      display: block;
      margin-top: 20px;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }
    span {
      color: #ffdd99;
    }
  }
  &__block {
    padding-left: 130px;
  }
  @media($desktop-widths) {
    &__items {
      justify-content: space-around;
    }
  }
}