.footer {
  background-color: #344b8e;
  text-align: center;
  &__list {
    @include noList;
  }
  &__item {
    @include inlineBlock();
    margin-right: 20px;
  }
  &__link {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 10px;
    &:hover {
      color: #30bae7;
    }
  }
}