.menu {
  position: relative;
  &__list {
    @include noList;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  &__item {
    display: block;
    padding: 15px;
    &--active {
      .menu__link {
        text-decoration: underline;
      }
    }
  }
  &__link {
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      background-color: #643a79;
      border-radius: 4px;
    }
    &:active {
      color: rgba(#000, 0.3);
      text-decoration: none;
    }
  }
  @media ($desktop-widths) {
    &__item {
      margin-right: 10px;
    }
  }
}