.portfolio{
    background-color: #ffdd99;
    padding-bottom: 70px;
    color: #393939;
  &__tabs{
    text-align: center;
  }
    &__tab {
      @include inlineBlock();
      width: 84px;
      background-color: rgba(0, 0, 0, 0.08);
      text-transform: uppercase;
      padding: 10px 0;
      cursor: pointer;
      &--active {
        background: white;
      }
    }
  &__content {
    margin-top: 50px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  &__item {
    max-width: 540px;
    margin-bottom: 40px;
    h3{
      text-align: center;
      text-transform: uppercase;
    }
  }
  @media($desktop-widths) {
    &__items {
      justify-content:space-around;
    }
  }
}
