@import "../../../node_modules/fontawesome-scss/fontAwesome";

.team {
  color: #3c4761;
  text-align: center;
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  &__title {
    color: #27283d;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }
  &__item {
    width: 260px;
    margin-bottom: 70px;
    span {
      color: #30bae7;
    }
    p {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  &__social-item {
    position: relative;
    @include inlineBlock();
    width: 32px;
    height: 32px;
    @include marginRight(15px);
    border-radius: 100%;
    background-color: #bdd1df;
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    span {
      display: none;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    &--facebook {
      &::after {
        @include fa($fa-facebook, #fff, 15px);
      }
    }
    &--twitter {
      &::after {
        @include fa($fa-twitter, #fff, 15px);
      }
    }
    &--mail {
      &::after {
        @include fa($fa-envelope, #fff, 15px);
      }
    }
    &:hover {
      background-color: #30bae7;
    }
  }
  @media($desktop-widths) {
    &__items {
      justify-content: space-around;
    }
  }
}