html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  background-color: #e7f1f8;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: $font;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 1.42;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.content {
  display: table-row;
  height: 100%;
}

.noscript {
  display: block;
  text-align: center;
  position: fixed;
  opacity: 0.7;
  top: 0;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  color: #0000AA;
  background: #ff7b93;
}

.container {
  @include container;
}

.btn {
  width: 293px;
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 4px;
  border-bottom: rgba(0, 0, 0, 0.15) solid 5px;
  text-transform: uppercase;
  text-decoration: none;

  text-align: center;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    opacity: 0.5;
  }
  &--header {
    background-color: #eb7d4b;
  }
  &--portfolio {
    background-color: #17c2a4;
    border-bottom-color: rgba(0, 0, 0, 0.15);
  }
  &--contact {
    background-color: #30bae7;
  }
}

.section__title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  &::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 87px;
    height: 4px;
    opacity: 0.15;
    background-color: black;
  }
}

section {
  padding-top: 115px;
  min-height: 100vh;
}

.section__text {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}