@font-face {
  font-family: 'TitilliumWeb';
  font-style: normal;
  font-weight: normal; /* or 400 */
  src:url("../fonts/TitilliumWeb-Regular.woff2") format("woff2"),
  url("../fonts/TitilliumWeb-Regular.woff") format("woff"),
  url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'TitilliumWeb';
  font-style: normal;
  font-weight: 300;
  src:url("../fonts/TitilliumWeb-Light.woff2") format("woff2"),
  url("../fonts/TitilliumWeb-Light.woff") format("woff"),
  url("../fonts/TitilliumWeb-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'TitilliumWeb';
  font-style: italic;
  font-weight: 300;
  src:url("../fonts/TitilliumWeb-LightItalic.woff2") format("woff2"),
  url("../fonts/TitilliumWeb-LightItalic.woff") format("woff"),
  url("../fonts/TitilliumWeb-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'TitilliumWeb';
  font-style: normal;
  font-weight: 600;
  src:url("../fonts/TitilliumWeb-SemiBold.woff2") format("woff2"),
  url("../fonts/TitilliumWeb-SemiBold.woff") format("woff"),
  url("../fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'TitilliumWeb';
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/TitilliumWeb-Bold.woff2") format("woff2"),
  url("../fonts/TitilliumWeb-Bold.woff") format("woff"),
  url("../fonts/TitilliumWeb-Bold.ttf") format("truetype");
}